
/* Burger Menu */
@media(max-width:750px) {
  header label{
    display:flex;
     flex-direction:column;
     width: 51px;
     cursor:pointer;
  }
   
   header label span{
    @apply bg-gray-900;
     border-radius:20px;
     height:3px;
     margin: 3px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   header span:nth-of-type(1){ 
     width:50%;
     
   }
   
   header span:nth-of-type(2){
     width:100%;
   }
   
   
   header span:nth-of-type(3){
     width:75%;
    
   }
   
   
   header input[type="checkbox"]{
     display:none;
   }
   
   
   header input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform: rotatez(45deg) translate(5px,1px);
     @apply bg-gray-700;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg);
     @apply bg-gray-700;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(11px,-6px) rotatez(45deg);;
     @apply bg-gray-700;
   
   }
}